body {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Rounded MT;
	font-size: 17px;
}

#first {
	background: url(../img/head.png) no-repeat center top;
	height: 715px;
}

article {
    width: 1170px;
    margin: 0px auto 0px auto;
}

.logo {
	margin-top: 25px;
	float: left;
}

.phone {
    color: #FFF;
    font-weight: bold;
    font-size: 47px;
    float: right;
    margin-top: 127px;
    font-weight: normal;
}

.title1 {
	font-size: 55px;
	font-weight: bold
	text-transform: uppercase;
	text-align: center;
	line-height:42px;
	margin-top: 100px;
	text-transform: uppercase;
	font-weight: 900;
}

.title1 span {
	font-size: 38px;
	font-weight: normal;
}

.clear {
	clear: both;
}

.cta{
	background: #FF6C00 none repeat scroll 0% 0%;;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	border-radius:30px;
	padding: 10px 20px;
	text-decoration: none;
	margin: 80px auto 0px auto;
	display: block;
	width: 300px;
	text-align: center;

}

.cta:hover{
	background: #F08105;
}

h2{
	display: block;
	font-size: 55px;
	font-weight: bold ;
	text-transform: uppercase;
	text-align: center;
	/*margin: 67px auto 75px auto;*/
	padding: 70px 0px 45px 0px;	
}

.icons{

}

.icons .icon{
	text-align: center;
	width: 290px;
	float: left;
	margin-right: 113px;
	padding-top: 110px;

}

.icons .icon div{
	font-size: 18px;
	font-weight: bold ;
	text-transform: uppercase;
	margin-bottom: -9px;
}

.icons .icon:nth-child(1){
	background: url(../img/icon1.png) no-repeat center top;
	margin-left: 20px;
}

.icons .icon:nth-child(2){
	background: url(../img/icon2.png) no-repeat center top;
}

.icons .icon:nth-child(3){
	background: url(../img/icon3.png) no-repeat center top;
	margin-right: 0px;
}

#third{
	background: #1b1b1b;
    color: #fff;
    margin-top: 70px;
}

.add{
	    font-size: 31px;
    text-transform: uppercase;
    text-align: center;
    margin-top: -65px;
}

.clear {
	clear: both;
}
.app{
	float: left;
	margin-top: 45px;
	margin-left: 140px;
	/*margin-bottom: 0px;*/
}

.text{
	    width: 490px;
    float: left;
    margin-left: 162px;
    margin-top: 60px;

}

.title2{
	
	font-size: 17px;
}

.more{
	
	color: #F08105;
	font-size: 18px;
	font-weight: bold;
	border-radius:30px;
	border: 1px solid;
	padding: 10px 20px;
	text-decoration: none;
	margin: 188px auto 0px auto;
	width: 300px;
	text-align: center;
	margin-top: 30px;

}

.more:hover{
	background: #F08105;
color: #fff;
}

.text p{
	    margin-bottom: 45px;
}
